
<!DOCTYPE html>
<html>
<head>
    <script src='/static/jquery.min.js'></script>
    <script src='/static/popper.min.js'></script>
    <script src='/static/bootstrap.min.js'></script>
    <script src='/static/main.js'></script>
    <link rel='stylesheet' href='/static/css/bootstrap.min.css'/>
</head>

<body>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <center>
    <div class="btn-group-vertical btn-block" role="group" aria-label="Choose your mode">
		<button type="button" class="btn btn-dark btn-lg" onclick="btnClick(this, 0)">StripsOff</button>
		<button type="button" class="btn btn-light btn-lg" onclick="btnClick(this, 1)">Zoom</button>
		<button type="button" class="btn btn-light btn-lg" onclick="btnClick(this, 2)">BlobSlider</button>
		<button type="button" class="btn btn-light btn-lg" onclick="btnClick(this, 3)">FFTRainbow</button>
		<button type="button" class="btn btn-light btn-lg" onclick="btnClick(this, 4)">Blocks</button>
		<button type="button" class="btn btn-light btn-lg" onclick="btnClick(this, 5)">FFT</button>
		<button type="button" class="btn btn-light btn-lg" onclick="btnClick(this, 6)">Sparkle</button>
		<button type="button" class="btn btn-light btn-lg" onclick="btnClick(this, 7)">Retro</button>
		<button type="button" class="btn btn-light btn-lg" onclick="btnClick(this, 8)">Pancakes</button>
		<button type="button" class="btn btn-light btn-lg" onclick="btnClick(this, 9)">SamMode</button>
		<button type="button" class="btn btn-light btn-lg" onclick="btnClick(this, 10)">Stones</button>

    </div>
    </center>
</body>
</html>
